{# src/templates/content_element/element_group_grid.html.twig #}
{% extends "@Contao/content_element/_base.html.twig" %}
{% use "@Contao/component/_headline.html.twig" %}

{# 2. Layout-Modifier nur bei 2 Spalten verwenden #}
{% set layoutModifier = '' %}
{% set backgroundLeft = '' %}
{% set backgroundRight = '' %}

{% if data.grid_columns|default('') == 'columns-2' %}
    {% if data.grid_columns_layout is defined and data.grid_columns_layout == 'two-columns-left-wide' %}
        {% set layoutModifier = 'equal-columns--two-columns-left-wide' %}
    {% elseif data.grid_columns_layout is defined and data.grid_columns_layout == 'two-columns-right-wide' %}
        {% set layoutModifier = 'equal-columns--two-columns-right-wide' %}
    {% else %}
        {# two-equal -> keine Extra-Klasse nötig, wenn 1:1 dein Default ist #}
    {% endif %}
{% endif %}

{# Background Color Left #}
{% if data.grid_columns_background_color_left is defined %}
    {% if data.grid_columns_background_color_left == 'two-columns-background-black' %}
        {% set backgroundLeft = 'equal-columns--two-columns-left-bg-black' %}
    {% elseif data.grid_columns_background_color_left == 'two-columns-background-grey' %}
        {% set backgroundLeft = 'equal-columns--two-columns-left-bg-grey' %}
    {% elseif data.grid_columns_background_color_left == 'two-columns-background-color' %}
        {% set backgroundLeft = 'equal-columns--two-columns-left-bg-color' %}
    {% endif %}
{% endif %}

{# Background Color Right #}
{% if data.grid_columns_background_color_right is defined %}
    {% if data.grid_columns_background_color_right == 'two-columns-background-black' %}
        {% set backgroundRight = 'equal-columns--two-columns-right-bg-black' %}
    {% elseif data.grid_columns_background_color_right == 'two-columns-background-grey' %}
        {% set backgroundRight = 'equal-columns--two-columns-right-bg-grey' %}
    {% elseif data.grid_columns_background_color_right == 'two-columns-background-color' %}
        {% set backgroundRight = 'equal-columns--two-columns-right-bg-color' %}
    {% endif %}
{% endif %}

{% set attributes = attrs()
    .addClass('equal-columns')
    .addClass('equal-columns--' ~ data.grid_columns|default(''))
    .addClass(layoutModifier)
    .addClass(backgroundLeft)
    .addClass(backgroundRight)
    .mergeWith(attributes|default)
%}

{% if data.grid_align_center %}
    {% set attributes = attributes.addClass('equal-columns--alignment-center') %}
{% endif %}

{% if data.grid_align_stretch %}
    {% set attributes = attributes.addClass('equal-columns--alignment-stretch') %}
{% endif %}

{% if data.grid_center %}
    {% set attributes = attributes.addClass('equal-columns--columns-center') %}
{% endif %}

{% block wrapper %}
    <div class="content-collection">
        {% if headline.text %}
            {{ block('headline_component') }}
        {% endif %}
        {{ parent() }}
    </div>
{% endblock %}

{%- block inner %}
    {% block content %}
        {% for fragment in nested_fragments %}
            {{ content_element(fragment) }}
        {% endfor %}
    {% endblock %}
{% endblock -%}
